@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(24, 21, 21);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.strike {
  text-decoration: line-through;
}

.headerStyles {
  display: inline-block;
  font-size: 5rem;
  font-weight: bold;
  font-style: italic;
  background-color: #0f0c09;
  color: #fff;
  text-align: center;
  width: auto;
  padding: 5px;
  border-color: #dcda53;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem 0.5rem 0 0;
   height: auto;
  box-sizing: border-box
}

.todo-item {
  align-items: center;
  border: 4px solid rgb(20, 41, 158);
  padding: 12px;
  margin-bottom: 20px;
  width: 20%;
  list-style-type: none;
  background-color: white;
  border-radius: 8px;
  margin: auto;
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(19, 17, 17, 0.795);
  transition: border-width 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.todo-item:hover {
  border-width: 10px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  background-color: rgb(215, 200, 41); /* Change the background color on hover */
  transform: translateY(-1px) scale(1.1); /* Apply translation and scaling */
}

@media (max-width: 768px) {
  .todo-item,.headerStyles {
    
    width: 50%; /* Adjust the width to take up the full available space */
    margin-right: 0; /* Remove the right margin */
    gap: 10px;
    margin-left: 3px;

  }
}